*{
    margin: 0;
    padding: 0;
} 

 .flex {
    max-width: 3000px;
    justify-content: center;
    border: 30px red;
}

:root {
    --primary-button-color: #0b5bac;
    --text-color: white;

}
.top-panel {
    background-color: rgba(236, 223, 221, 0.952);
    justify-content: center;
    display: flex;
    z-index: 60;
    align-items: center;
}

.top-panel-info {
    text-decoration: none;
    color: black;
    font-size: .8em;
    position: relative;
    
}

.wrapper {
    background-color: rgb(243, 198, 189);
    text-align: center;
    font-family: sans-serif;
    padding: 176px 0 126px;
    margin: -149px 0px 0px;
}

.margin {
    margin-left: 472px;
    margin-right: 472px;
}
.navigationbar {
    padding: 30px 0px 40px;
    background: none;
    box-shadow: none;
    position: relative;
    
    .container {
        display: flex;
        place-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .logo {
        text-decoration: none;
        color: brown;
        font-size: 25px;
        font-weight: bold;

    }
     
    .navigation {
        font-size: 18px;
        background-color: rgb(243, 198, 189);
        outline-style: none;
    }
}
.home {
     text-decoration: none;
     font-weight: 700;
     background-color: rgb(243, 198, 189);
     padding: 10px 8px;
     color: black;
     font-size: 18px;
    }
.login {
     text-decoration: none;
     color: var(--text-color);
     font-weight: 700;
     margin: 0 0 0 50px;
     width: auto;
     background-color: var(--primary-button-color);
     padding: 12px 28px;
     border-radius: 5px;
     font-size: 18px;
    }
///////////////////////////////////////////////////////////////////flex ir max width
.firstpanel {
    margin-left: 472px;
    margin-right: 472px;
    padding: 0px 15px;
    position: relative;


}
.fipanel-img {
    max-width: 350px;
    max-height: 277px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.upper-col {
    text-align: center;
    margin-bottom: 38px;
    font-size: 33.33px;
    font-weight: 700;
    
}

.paragrahp {
    text-align: left;
    max-width: 456px;
    margin-bottom: 58px;

    font-size: 24px;
    line-height: 1.41667;
    position: relative;
    grid-column: 1 / 2 ;
}

.panel-buttons {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    grid-column: 1 / 2;
}

.get-started {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    margin-right: 4px;
    width: auto;
    background-color: white;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}

.sign-up {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    margin-right: 4px;
    width: auto;
    background-color: var(--primary-button-color);
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 18px;
}


/////////////////////////////////////////////////////////////////////////

.sellout {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 472px;
        margin-right: 472px;
        padding: 76px 0px;
    
    }
}
.dev {
    padding: 0px 15px;

    .h-dev {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .developer {
        font-size: 24px;
        line-height: 1.41667;
    } 
}   

.market {
    padding: 0px 15px;
    .h-market {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .marketer {
        font-size: 24px;
        line-height: 1.41667;
    } 

}

.pirmas {
    max-width: 1000px;
}

.antras {
    display: flex;
    place-content: space-between;
    text-align: center;
}
 .trecias {
    max-width: 1000px;
 }
