*{
    margin: 0;
    padding: 0;
} 


.top-panel {
    background-color: hsla(0,0%,100%,.6);
    display: flex;
    justify-content: center;
    z-index: 60;
    align-items: center;
}

.top-panel-info {
    text-decoration: none;
    color: black;
    font-size: .8em;
    position: relative;
    
}

.wrapper {
    background-color: rgb(243, 198, 189);
    text-align: center;
    width: 100%;
}


.navigationbar {
    padding: 30px 0 40px;
    background: none;
    box-shadow: none;
    position: relative;
    
    
    
    .container {
        display: flex;
        place-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .logo {
        text-decoration: none;
    }
}

